@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f2f2f;
    padding: 12px;
    color: #dddddd;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
}

header li a{
    color: #dddddd;
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
    border: 1px solid black;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin: 8px 0;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

h2{
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: green;
}

#economy{
    background-color: rgba(255, 255, 10, 0.426);
}

#entertainment {
    background-color: rgba(157, 13, 13, 0.619);
}

#tecnology{
    background-color: rgba(29, 29, 176, 0.792);
}